In [1]:
import requests
import pandas as pd

In [2]:
df= pd.read_csv('dialect_dataset.csv')

In [3]:
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  int64
 1   dialect  458197 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

In [9]:
re=[
"1055620304465215616", "1057418989293485952"
]

In [10]:
response=requests.post('https://recruitment.aimtechnologies.co/ai-tasks',json=re)

In [11]:
response.json()

{'1055620304465215616': '@MahmoudWaked7 @maganenoo في طريق مطروح مركز بهيج  والمركز الي الي جمبه اسمه ايه😂😂',
 '1057418989293485952': '@mycousinvinnyys @hanyamikhail1 متهيالي دي شكولاته الهالوين  فين المحل ده'}

In [12]:
def getResponse(ids):
    response=requests.post('https://recruitment.aimtechnologies.co/ai-tasks',json=list(map(str, ids)))
    return map(str,response.json().values())

In [15]:
listOfSentences=[]
for i in range(0,len(df),1000):
    if len(df)-i >1000:
        listOfSentences.extend(getResponse(df.id[i:i+1000]))
    else:
        listOfSentences.extend(getResponse(df.id[i:]))

In [16]:
len(listOfSentences)

458197

In [17]:
df['sentence']=listOfSentences

In [18]:
df.head()

,id,dialect,sentence
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

### To make sure we get it right , We are going to get a sample and make sure that the ids have the right corresponding sentences

In [22]:
sample=df.sample(10)

In [23]:
sample

,id,dialect,sentence
282732,1068435910226792448,EG,@Egypty2015 اصل يعنى رانيا مش محتاجه حد يقول ا...
440802,951336971477159936,BH,@m14se @eklasi يبارررك في عممرك مونتي، الله يس...
392469,1161421459996065792,SD,@mafazelsayed يعني هو ايزي للاولاد برضو 🤔
384955,539407585510572032,OM,@al_wisal احن الى الجيره ولمة الأهل والجيران ....
272622,1104909694957731840,EG,@emanazab97 هتعملي نفسك ناسيه كمان 🤨
446867,1169911679741759488,BH,@FukMicr @fatiimabastaki الغلطة على السائقين ف...
25048,1153700894707519488,LY,@Moha_Alshawesh في من فرس قبلك يا حميدة منور ...
420554,1174387290795380736,AE,@AJArabic على كم هالتغطية يا خونه ؟
376711,771423164240760832,OM,@saeedfanja89 ما نقدر نحكم الا اذا احد جرب انت...
378353,1064049516180066432,OM,@a_qtr1976 @007007007KJ @tawaaaash2 @Alreemalq...

In [25]:
list(getResponse(sample.id))

['@Egypty2015 اصل يعنى رانيا مش محتاجه حد يقول انها وحشه و لا تخينه و لا الكلام ده 😂',
 '@m14se @eklasi يبارررك في عممرك مونتي، الله يسمع منك والفال لك ❤️❤️❤️😍😍',
 '@mafazelsayed يعني هو ايزي للاولاد برضو 🤔',
 '@al_wisal احن الى الجيره ولمة الأهل والجيران .. الحين باعد بينهم البنيان .. وصاروا حتى بالمناسبات فقط يتراسلوا واتساب',
 '@emanazab97 هتعملي نفسك ناسيه كمان 🤨',
 '@FukMicr @fatiimabastaki الغلطة على السائقين في الخلف، لازم يحطون اعتبار مسافة بين السيارات.....',
 '@Moha_Alshawesh في من فرس قبلك يا حميدة منور  بارك الله فيك منستغنوش',
 '@AJArabic على كم هالتغطية يا خونه ؟',
 '@saeedfanja89 ما نقدر نحكم الا اذا احد جرب انتو روحوا فحصوا وخبرونا',
 '@a_qtr1976 @007007007KJ @tawaaaash2 @Alreemalqataria @500_somol @Saidh66 @haqtr4 ما عندي بنات🤣🤣\nبس دام جاي من طرفك ما نبيه 🤣']

In [29]:
df.to_csv("dialect_with_sentences.csv",index=False)

In [30]:
df_full=pd.read_csv('dialect_with_sentences.csv')

In [31]:
df_full.head()

,id,dialect,sentence
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺